# Ignore editor-specific folders
.idea

# Ignore compiled binary files
**/*.o
**/*.a
obj/
a.out
minishell


# Ignore utils
checker_OS

# Ignore playground/test files
playgrounds

*.txt

# Ignore unit tester
minishell_tester

# Ignore MacOS-specific files
.DS_STORE
